  <!-- <div class="jumbotron">
    <h1 class="title">50K Offer</h1>
    <p class="slogan">50K Offer 是一個提供50K薪水工作機會的求職網站。
    <br><br>
    我們希望藉由這個網站，讓大家找到高薪優質的工作，同時協助企業招募到理想人才。
    <br><br>
     不再錯失機會，你的努力與天賦將在這裡被看見
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">馬上應徵</a></p>
  </div> -->

  <div class="col-md-12">
    <div class="row box">
      <div class="box-inner col-md-6 col-md-offset-3">
        <h1 class="title">50K Offer</h1>
        <p class="slogan">50K Offer 是一個提供50K薪水工作機會的求職網站。
          <br>
          我們希望藉由這個網站，讓大家找到高薪優質的工作。
          <br>
          不再錯失機會，你的努力與天賦將在這裡被看見
        </p>
        <p class="lead">
          <%= link_to '馬上應徵', jobs_path, class: 'btn btn-homemade' %>
        </p>
      </div>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">如果你正在徵才...</h2>
          <p class="lead">我們為企業提供完善的徵才介面</p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <img src="https://images.unsplash.com/photo-1568598035424-7070b67317d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2249&q=80" class="img-responsive center-block">
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">如果你正在找工作...</h2>
          <p class="lead">我們為使用者提供清晰的搜索功能</p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <img src="https://images.unsplash.com/photo-1490127252417-7c393f993ee4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" class="img-responsive center-block">
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">想了解完整功能的話...</h2>
          <p class="lead">請參閱<a target="_blank" href="https://forum.qzy.camp/">50K Offer指南</a></p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <img src="https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2252&q=80" class="img-responsive center-block">
        </div>
      </div>
    </div>
  </div>
