<div class="col-md-12">
  <div class="row loginbox">
    <div class="col-md-4 col-md-offset-4 loginbox-inner">
      <div class="col-md-10 col-md-offset-1">

        <div class="text-centered">
          <h2><sapn class="fa fa-sign-in"></sapn>Login</h2>
        </div>

          <form novalidate="novalidate" class="simple_form new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="eiSUDslC+NU0CC1lRIltsvMc3YkIvQM9ZCHm03P8vp1uO3mnIVtw74aPJgLK9/8Td1o9FEcXjZ9vrl1WnvxMJg==">
            <div class="form-inputs">
              <div class="form-group email optional user_email"><input class="form-control string email optional" autofocus="autofocus" placeholder="your@example.com" type="email" value="" name="user[email]" id="user_email"></div>
              <div class="form-group password optional user_password"><input class="form-control password optional" placeholder="Password" type="password" name="user[password]" id="user_password"></div>
              <div class="form-group boolean optional user_remember_me"><div class="checkbox"><input value="0" type="hidden" name="user[remember_me]"><label class="boolean optional" for="user_remember_me"><input class="boolean optional" type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">Remember Me</label></div></div>
              <a class="forgetpsw" href="/users/password/new">Forgot Password?</a>
            </div>

            <div class="form-actions">
              <input type="submit" name="commit" value="Login" class="btn btn-default loginbox-btn" data-disable-with="Login">
            </div>
          </form>    <hr>
      <div class="text-centered">
        <a href="/users/sign_up">Join 50K Offer now!</a>
      </div>

      </div>
    </div>
  </div>
</div>
